.profile-container {
    width: 199px;
    margin: auto;
}

.d-block > * {
    display: block;
}

.m-bottom-5 {
    margin-bottom: 5px;
}
.m-bottom-10 {
    margin-bottom: 10px;
}
.margin-right-5 {
    margin-right: 15px;
    padding: 10px 10px 10px 0px;
}