<div class="dialog-container text-align-center">
    <span mat-dialog-title>Modifier le participant</span>
    <div mat-dialog-content>
        <form [formGroup]="participantForm">
            <mat-form-field appearance="standard">
                <mat-label>Nom</mat-label>
                <input matInput formControlName="lastname" type="text" value="{{ data.lastname }}">
                <mat-error>{{hasErrors("lastname")}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="standard">
                <mat-label>Prénom</mat-label>
                <input matInput formControlName="firstname" type="text" value="{{ data.firstname }}">
                <mat-error>{{hasErrors("firstname")}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="standard" class="margin-bottom-15">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" type="email">
                <mat-error>{{hasErrors("email")}}</mat-error>
            </mat-form-field>

            <input class="d-block margin-bottom-15 margin-left-25" formControlName="birthdate" type="date" value="{{ data.birthdate }}">

            <mat-radio-group class="d-block margin-bottom-15" formControlName="genre" aria-label="Genre">
                <mat-radio-button class="margin-right-5" value="1">Femme</mat-radio-button>
                <mat-radio-button value="2">Homme</mat-radio-button>
            </mat-radio-group>
        </form>
    </div>
    <div class="align-buttons" mat-dialog-actions>
        <button mat-button (click)="onNoClick()">Annuler</button>
        <button mat-button (click)="onConfirm()" [disabled]="isDisabled">Valider</button>
    </div>
</div>
