<div>
    <div class="text-align-center">
        <h2 class="align-verticaly margin-right-15">Participants</h2>
        <div *ngIf="participantList.length > 0">
            <button class="margin-right-15" (click)="sortParticipantsByLastname()" mat-stroked-button color="primary">Trier par nom</button>
            <button (click)="sortParticipantsByFirstname()" mat-stroked-button color="primary">Trier par prénom</button>
        </div>
    </div>
    <div *ngIf="participantList.length > 0">
        <div *ngFor="let participant of participantList" class="margin-top-10 padding-10 bg-color-border-radius d-flex-space-between width-700 center-horizontaly">
            <div>
                <div>
                    <span>{{participant.firstname}} {{participant.lastname}} </span>
                    <span *ngIf="participant.showBirthdate">({{participant.birthdate | date:"dd/MM/yyyy"}})</span>
                    <div *ngIf="participant.genre == 1">Femme</div>
                    <div *ngIf="participant.genre == 2">Homme</div>
                    <span *ngIf="participant.showEmail">Email : <span>{{participant.email}}</span></span>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="participantList.length == 0" class="text-align-center margin-top-70">
        Il n'y a aucun participant pour le moment.
    </div>
</div>