.d-flex-space-between {
    display: flex;
    justify-content: space-between;
}

.align-verticaly {
    line-height: 40px;
    margin: 0;
}
.center-horizontaly {
    margin: auto;
    width: fit-content;
}
.text-align-center {
    text-align: center;
}
.line-height-53 {
    line-height: 53px;
}

.width-700 {
    width: 700px;
}
.margin-top-10 {
    margin-top: 10px;
}
.margin-top-70 {
    margin-top: 70px;
}
.margin-right-5{
    margin-right: 5px;
}
.padding-10 {
    padding: 10px;
}

.bg-color-border-radius {
    background-color: rgb(188, 224, 247);
    border-radius: 5px;
}