.register-container {
    margin: auto;
    width: 250px;
}

.register-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.button-container {
    margin: auto;
    width: fit-content;
}

.fake-mat-input {
    border: none;
    background-color: inherit;
    border-bottom: 1px solid #8d8d8d;
    padding: 10px;
    color: #606060;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: inherit;
}

.margin-right-5 {
    margin-right: 15px;
    padding: 10px 10px 10px 0px;
}
.margin-top-15 {
    margin-top: 15px;
}

.text-align-center {
    text-align: center;
}
