<div *ngIf="currentUser && currentUser.uid" class="profile-container">
    <div class="d-flex-space-between margin-bottom-10">
        <span class="font-size-20 line-height-40">Profil</span>
        <button (click)="goToEdit()" mat-mini-fab color="primary"><mat-icon>create</mat-icon></button>
    </div>
    <div>
        <div>Nom : {{ currentUser.lastname }}</div>
        <div>Prénom : {{ currentUser.firstname }}</div>
        <div>Date de naissance : {{ currentUser.birthdate | date:"MM/dd/yyyy" }}</div>
        <div>Genre : 
            <span *ngIf="currentUser.genre == 1">Feminin</span>
            <span *ngIf="currentUser.genre == 2">Masculin</span>
        </div>
        <div>Email : {{currentUser.email}}</div>
    </div>

</div>