<div *ngIf="currentUser != undefined && currentUser.uid != ''" class="profile-container">
    <div class="d-flex-space-between">Profil <button (click)="goToEdit()">Editer</button></div>

    <div>Nom : {{ currentUser.lastname }}</div>
    <div>Prénom : {{ currentUser.firstname }}</div>
    <div>Date de naissance : {{ currentUser.birthdate | date:'MM/dd/yyyy' }}</div>
    <div>Genre : 
        <span *ngIf="currentUser.genre == 1">Feminin</span>
        <span *ngIf="currentUser.genre == 2">Masculin</span>
    </div>
    <div>Email : {{currentUser.email}}</div>
</div>